<div id="index" class="container">
  <h1>Kids</h1>
  <table class="table table-striped" id="kids">
    <thead>
      <tr>
        <th>Name</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @kids %>
    </tbody>
  </table>

  <br />
  <div class="btn-toolbar">
    <div class="btn-group clearfix">
      <button type="button" class="btn btn-large btn-success" id="add-kid-button">Add Kid</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-large btn-success" id="add-transaction-button">Quick Add</button>
    </div>
  </div>
</div>