<div id="index" class="container">
  <h1>Kids</h1>
  <table class="table table-striped" id="kids">
    <thead>
      <tr>
        <th>Name</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @kids.each do |kid| %>
      <tr data-link="<%= kid_path(kid) %>">
        <td><%= kid.name %></td>
        <td><span>$</span><span class="money"><%= kid.total %></span></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br />
  <div class="btn-toolbar">
    <div class="btn-group clearfix">
      <button type="button" class="btn btn-large btn-success" id="add-kid">Add Kid</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-large btn-success" id="quick-add-button">Quick Add</button>
    </div>
  </div>
</div>