/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.total {
  font-size: 32px;
  font-weight: bold;
}

.add {
  margin-top: 20px;
}

.btn-group form {
  margin-bottom: 0px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.caret {
  margin-left: 4px !important;
}

.money {
  margin-left: 5px;
  display: inline-block;
  width: 45px;
  text-align: right;
}

#add-modal, #add-kid-modal {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  h1, h3, label {
    line-height: 75px !important;
    font-size: 45px !important;
    font-weight: bold !important;
  }

  th {
    font-size: 45px !important;
    font-weight: bold !important;
    line-height: 75px !important;
  }

  td {
    line-height: 100px !important;
    width: 50%;
    font-size: 55px;
  }

  button {
    padding: 75px 100px !important;
    font-size: 55px !important;
    margin-right: 10px;
  }

  a {
    padding: 60px 75px !important;
    font-size: 55px !important;
    margin-right: 10px;
  }

  .money {
    width: 200px !important;
  }

  .comment {
    font-size: 35px;
  }

  input {
    line-height: 100px !important;
    width: 700px !important;
  }

  input[type='text']:focus ,input[type='number']:focus ,textarea:focus {
    font-size: 1em !important;
  }

  .modal {
    width: 100% !important;
    left: 30% !important;
  }
}